<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SquirrelyConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
      <SquirrelyConverter.Properties.Settings>
        <setting name="TempDir" serializeAs="String">
          <value>/Stemp/</value>
        </setting>
        <setting name="OutDir" serializeAs="String">
          <value />
        </setting>
        <setting name="DeleteTempDir" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="WebPQuality" serializeAs="String">
          <value>80</value>
        </setting>
        <setting name="WebPLossless" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="WebPNoAlpha" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="WebPCopyMeta" serializeAs="String">
          <value>False</value>
        </setting>
      </SquirrelyConverter.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="f4fb5a3c4d1e5b4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.23" newVersion="1.5.0.23" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>