<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mr_Squirrely_Converters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <Mr_Squirrely_Converters.Properties.Settings>
            <setting name="Create_Temp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Temp_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Images_Delete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebP_Lossess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebP_Emulate_JPEG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebP_Quality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="WebP_RemoveAlpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JPEG_Quality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PNG_Lossess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PNG_Quality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PNG_RemoveAlpha" serializeAs="String">
                <value>False</value>
            </setting>
        </Mr_Squirrely_Converters.Properties.Settings>
    </userSettings>
</configuration>
