<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConverterUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConverterUtilities.Properties.Settings>
            <setting name="CreateTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempLocation" serializeAs="String">
                <value>./converter_temp</value>
            </setting>
            <setting name="DeleteTemp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebPLossless" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebPEmulateJPEG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebPQuality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="WebPRemoveAlpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JPEGQuality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PNGLossless" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PNGQuality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PNGRemoveAlpha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoChangeSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="VideoHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="VideoRemoveAudio" serializeAs="String">
                <value>False</value>
            </setting>
        </ConverterUtilities.Properties.Settings>
    </userSettings>
</configuration>